@import "~materialize-css/dist/css/materialize.min.css";

.mr-1 {
  margin-right: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.d-flex {
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center {
  align-items: center;
  height: 100vh;
}

